<form action="/login" class="login-form">
    <label for="id">Username or Email:</label>
    <input type="text" name="id">
    <br><br>
    <label for="password">Password:</label>
    <input type="text" name="pw">
    <br><br>
    <input type="submit" value="log in">
    <input type="submit" value="sign up">
</form>